/* importing the font */

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

/* start variables */

$prime-font: 'Lemonada',
cursive;
$second-font: 'El Messiri',
sans-serif;
$primary-color: #e74944;
$secondary-color: #867ae6;
$tertiary-color: #d3eb1e;

/* end variabels */


/* start global */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $second-font;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}


/* end global */


/* start sign in form */

.bg-prime {
    background-color: $secondary-color;
}

.sign-in-form {
    h1 {
        font-family: $prime-font;
        line-height: 4rem;
    }
    .input-wrapper {
        border-radius: 50px;
        .input-theme {
            border: none;
            direction: ltr;
            &:focus {
                outline: none;
            }
            &::placeholder {
                direction: rtl;
            }
        }
    }
    .link-theme {
        color: $tertiary-color;
        font-weight: bold;
        &:hover {
            text-decoration: none;
        }
    }
    .btn-theme {
        background-color: $primary-color;
        color: white;
    }
}


/* end sign in form */


/* start Advantages */

.Advantages {
    .header-theme {
        color: $primary-color;
        font-family: $prime-font;
        text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
    }
    .card {
        h3,
        p {
            color: white;
        }
        background-color: $primary-color;
        hr {
            position: relative;
            width: 50%;
            height: 5px;
            background-color: $tertiary-color;
        }
    }
}


/* end Advantages */


/* start social power */

.social-power {
    .header-theme {
        font-family: $prime-font;
        font-size: 3vw;
    }
    .divider {
        width: 25%;
        height: 5px;
        background-color: $tertiary-color;
    }
    .social-bar {
        position: relative;
        i {
            font-size: 2.5vw;
        }
        p {
            font-size: 20px;
        }
        &::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: white;
            box-shadow: 0 0 14px 4px #fff;
        }
        .dot-theme {
            position: relative;
            cursor: pointer;
            &::after {
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                bottom: -8px;
                border-radius: 100%;
                border: 8px solid white;
                box-shadow: 0 0 14px 4px #fff;
                transition: ease-in-out 0.25s;
                z-index: 3;
            }
            &:hover::after,
            &.active::after {
                transform: scale(1.5);
            }
            &::before {
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                bottom: -3px;
                border-radius: 100%;
                border: 3px solid $primary-color;
                opacity: 0;
                transition: ease-in-out 0.25s;
                z-index: 5;
            }
            &:hover::before,
            &.active::before {
                transform: scale(2);
                opacity: 1;
            }
        }
    }
}


/* end social power */


/* start achievement */

.achievement {
    .header-theme {
        font-family: $prime-font;
        color: $primary-color;
    }
    .wrapper {
        border: 3px dashed $secondary-color;
        border-radius: 100%;
        width: 250px;
        height: 250px;
        font-size: 40px;
        h2 {
            color: $primary-color;
            font-weight: bold;
        }
        p {
            font-size: 20px;
        }
        span {
            font-size: 15px;
            color: lightslategray;
        }
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: invert(1);
    }
}


/* end achievement */


/* start join us */

.join-us {
    .btn-theme {
        background-color: $primary-color;
        color: white;
        height: fit-content;
    }
}


/* end join us */


/* start excellence */

.excellence {
    .card {
        background-color: $primary-color;
        .dashed-wrapper {
            border: 3px dashed white;
            border-radius: 100%;
            width: fit-content;
            .text {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                background-color: white;
                color: $primary-color;
                font-size: 30px;
            }
        }
    }
}


/* end excellence */


/* first svg animation */

svg#freepik_stories-dashboard:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-dashboard.animated #freepik--background-complete--inject-36 {
    animation: 0.5s 1 forwards ease-out slideRight;
    animation-delay: 0s;
}

svg#freepik_stories-dashboard.animated #freepik--Dashboard--inject-36 {
    animation: 0.5s 1 forwards ease-out slideLeft;
    animation-delay: 0.6s;
    opacity: 0
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}